<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="mySqlImpl" class="com.yihan.dao.UserDaoMysqlImpl"/>
    <bean id="oracleImpl" class="com.yihan.dao.UserDaoOracleImpl"/>

    <bean id="userServiceImpl" class="com.yihan.service.UserServiceImpl">
        <!-- ref:引用容器中创建好的对象， 而value是一个具体的值，比如基本数据类型-->
        <property name="userDao" ref="oracleImpl"/>
    </bean>
</beans>